*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar{
    padding: 20px 0;
    position: fixed;
    background-color: black;
    
   
}
#header{
    position:sticky;
    top:0px;
    left:0px;
    z-index: 999;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
    justify-content: space-between;
    
   
    float: right;
  
}
.navbar .menu li{
    list-style-type: none;
    
  
}
.menu li{
    display: inline-block;
  
    
}
.navbar .menu a{
    color: white;
    justify-content: space-between;
    text-decoration: none;
    margin: 8px; 
}
.navbar .menu a:hover{
    color:crimson;

}
.home{
    display: flex;
    height: 100vh;
    width: 100%;
    color:blue;
    min-height: 400px;
    background-image: url('1.jpg');
    background-size: 100% 100%;

}
.home{
    margin: auto 10 auto 50px;

}
.text .para1{
    font-size: 70px;
    padding: 3%;
    margin: 5px;
    margin-top: 5px;
    
    
    font-family: 'Open Sans', sans-serif;
    

}

.text .para2{
    font-size: 50px;
    padding: 3%;
    margin: 5px;
    margin-top: 5px;
    
}
.text .para3{
    font-size: 50px;
    padding: 3%;

}
.text .para3 span{
    color: crimson;
    font-weight: 400;
}
.para3:hover{
    font-size:60px ;
    cursor: pointer;
}
.row h1{
     font-weight: 600;
     text-align: center;
     color:white;
    
}
.row{
    background-color: gray;
  
}

.head111{
    text-align: center;
    color:white;
}
.head222{
    text-align: left;
    color: white;

}
.para222{
    color: blue;
}
.unlist{
     color: blue;
     padding: 3%;
     margin: 10px;
}
.titleh2{
    color: white;
}
.image1{
    width: 300px;
    height: 500px;
    background-size: 100% 100%;
    margin: 30px;
    padding: 3%;
   
}
.image1:hover{
    border: 4px solid blue;
    transition: 2s;
    cursor: pointer;
    
    
    border-radius: 4px;
}
.para111{
    color: blue;
    font-size: 15px;
    font-family: cursive;
}


.studies{
    background-color:black;
    

}
.studies .card h1{
      text-align: center;
       color:white;
}
.box{
    text-align: center;
    font-size: 40px;
    background-color:crimson;
    border: 5px solid black;
    border-radius: 30px;
    padding: 2%;
    row-gap: 100px;
    column-gap: 30px;
    
}
.box:hover{
     
     
    cursor: pointer;
}
        
.box i{
    color:white;
    font-size: 50px;

}
.box .p1{
      font-size: 20px;
      color:white;
}
.box .text{
    color:blueviolet;
}
#footer{

    padding: 5%;
    background-color:black;
    

}
.contact{
    padding: 5px;


}
.contact h1{
    color: white;
}
.text-center p{
    color: white;
}

#icon1{
    font-size: 30px;
}
#icon2{
    font-size: 30px;
}
#icon3{
    font-size: 30px;
}
#icon4{
    font-size: 20px;
    color: red;
}